<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Direct Message</title>
    <link rel="stylesheet" href="./css/websocket.css">
</head>

<body>

<div class="main">
    <div class="top">
    </div>
    <div class="box">
        <div id="chatUserList" class="chat-list">
            <div>
                <div>
                    <img class="chat-head" src="./images/img.png"
                         alt="pic lost~" />
                    <div class="chat-rig">
                        <p class="title">Sample user</p>
                        <p class="text">I am the sample user</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-right">
            <div class="recvfrom">
                <div class="news-top" id="chat-view">
                    <ul id="chat">
                        <div>
                            <li>
                                <div class="avatar"><img src="./images/img.png" alt="pic lost~"/></div>
                                <div class="msg">
                                    <div class="msg-text">Hi there
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                    <script type="text/javascript">
                        $(function () {
                            let chat = $("#chat-view");
                            chat.scrollTop(chat[0].scrollHeight);
                        })
                    </script>
                </div>
            </div>
            <div class="sendto">
                <div class="but-text">
                    <textarea id="message" name="" cols="110" rows="24" placeholder="Write something..."></textarea>
                    <button class="button">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
</body>
</html>

